.current__container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 2em;
  text-align: center;

  .current {
    &__title {
      margin: 0 auto;
      margin-bottom: 1em;
      padding-top: 0.05em;
      padding-right: 0.4em;
      padding-bottom: 0.25em;
      padding-left: 0.2em;
      font-weight: 400;
      border-radius: 10px;
      text-align: center;
      opacity: 0.5;

      @media (max-width: 600px) {
        font-size: 24px !important;
      }
    }

    &__location {
      font-size: 2em;
      margin-top: 2.5em;

      @media (max-width: 600px) {
        font-size: 20px !important;
      }
    }

    &__temp {
      font-size: 6em;
      margin-top: 0.5em;

      @media (max-width: 600px) {
        font-size: 40px !important;
      }
    }

    &__descr {
      font-size: 3em;
      margin: 0;

      @media (max-width: 600px) {
        font-size: 26px !important;
      }
    }
  }
}
