@import '../../style/variables';

.current_page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;

  &__title {
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.05em 0.4em 0.25em 0.2em;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 24px !important;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info__temp {
      font-size: 7rem;
      margin-top: 0.5em;
      color: $color-primary;

      &_value {
        padding-right: 1rem;
      }

      &_unit {
        opacity: 0.5;
      }

      @media (max-width: 700px) {
        font-size: 4rem !important;
      }
    }

    .info__feels_like {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      opacity: 0.5;
    }

    .info__description {
      font-size: 3em;
      margin: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      color: $color-primary;

      @media (max-width: 700px) {
        font-size: 26px !important;
      }
    }
  }

  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 2.5em;

    @media (max-width: 700px) {
      font-size: 20px !important;
    }

    &__icon {
      color: $color-primary;
    }

    &__name {
      margin-left: 15px;
    }
  }
}
