.card {
  border-radius: 15px !important;
  max-width: 380px;

  &__title {
    font-size: 1.85em !important;
    text-align: center !important;
  }

  &__value {
    font-size: 1.85em;
    text-align: center;
  }
}

.statistic_temp__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.statistic__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.statistic {
  border: 1px solid #5a00cb;
  border-radius: 10px;
  padding: 10px !important;
  // padding-left: 20px !important;
  // padding-right: 20px !important;
  // padding-top: 10px !important;
  // padding-bottom: 10px !important;
  // width: 140px;
}
.statistic:hover {
  background-color: #5b00cb1f;
}

.progress {
  display: flex;
  justify-content: center;
  margin: 2.77em 1.8em !important;
}

/* .progress__value { */
/* color: black; */
/* } */

.progress__suffix {
  opacity: 0.4;
  margin-left: 0.1em;
}
