@import '../../../style/variables.scss';

.card {
  border-radius: 15px !important;
  max-width: 380px;
  box-shadow: $card-shadow-outer-purple;

  &_dark {
    background-color: #111;
  }

  &_light {
    background-color: #fff;
  }
}

.statistic {
  border-radius: 10px !important;
  padding: 10px !important;

  &_dark {
    background-color: #1f1f1f;
    box-shadow: 3px 3px 3px $basic-shadow-color;
  }

  &_light {
    background-color: #faf0ff;
    box-shadow: inset 3px 3px 3px rgb(122, 35, 215, 0.4);
  }

  &:hover {
    background-color: #5b00cb1f;
  }
}

.progress {
  display: flex;
  justify-content: center;
  padding: 3.1em 1.8em;
  border-radius: 10px !important;
  border: none;

  &_dark {
    background-color: #1f1f1f;
    box-shadow: 3px 3px 3px $basic-shadow-color;
  }

  &_light {
    background-color: $color-purple-light;
    box-shadow: inset 3px 3px 3px $basic-shadow-color;
  }

  &__value {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    font-size: 2rem !important;
  }

  &__suffix {
    font-size: 2rem;
    opacity: 0.5;
    margin-left: 0.15em;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
}
