@import '../../../style/variables.scss';

.card {
  border-radius: 15px !important;
  max-width: 380px;
  box-shadow: $card-shadow-outer-purple;

  &_dark {
    background-color: #111;
  }

  &_light {
    background-color: #fff;
  }
}

.statistic {
  border-radius: 10px !important;
  padding: 10px !important;

  &_dark {
    @include shadow-deep-style-dark;
  }

  &_light {
    @include shadow-deep-style-light;
  }

  &:hover {
    background-color: #5b00cb1f;
  }
}

.progress {
  display: flex;
  justify-content: center;
  padding: 3.1em 1.8em;
  border-radius: 15px !important;
  border: none;

  &_dark {
    @include shadow-deep-style-dark;
  }

  &_light {
    @include shadow-deep-style-light;
  }

  &__value {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    font-size: 2rem !important;
  }

  &__suffix {
    font-size: 2rem;
    opacity: 0.5;
    margin-left: 0.15em;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
}
