@import '../../../style/variables.scss';

.title {
  margin: 0 auto !important;
  font-weight: 400 !important;
  text-align: center !important;

  &_light {
    color: $color-primary;
  }

  &__icon {
    margin-right: 1.5rem;
    color: $color-primary;
  }

  @media (max-width: 700px) {
    font-size: 24px !important;
  }
}
