.wrapper {
  text-align: center;
  margin-top: 20vh;
}
.title {
  padding-top: 2em;
  padding-bottom: 0.4em;
}
.image {
  padding-bottom: 0.5em;
}
.date {
  padding-bottom: 1.5em;
}
.parameter {
  padding: 0.5em 0;
}

@media (max-width: 600px) {
  .title {
    padding-top: 0.7em;
  }
}
