.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title {
  padding-top: 2em;
  padding-bottom: 0.5em;
}
.date {
  padding-bottom: 1.5em;
}
.parameter {
  padding: 0.5em 0;
}

@media (max-width: 600px) {
  .title {
    padding-top: 0.6em;
  }
}
