@import '../../style/variables.scss';

.page {
  @media (max-width: 700px) {
    padding-bottom: $page-bottom-padding;
  }

  .cards {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(330px, 3fr));
    grid-gap: 3rem;
    padding: 0 10px;

    // @media (max-width: 900px) {
    //   grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    // }
  }

  .body__float_button {
    margin-bottom: $float-button-margin-bottom;
  }
}
