.title {
  @media (max-width: 600px) {
    font-size: 24px !important;
  }
}

.page__body {
  display: flex;
  padding-top: 0.28rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
  justify-content: center;

  .body__float_button {
    margin-bottom: 20px;
  }
}
