@import '../../style/variables.scss';

.page {
  @media (max-width: 700px) {
    padding-bottom: $page-bottom-padding;
  }

  .page__body {
    display: flex;
    padding-top: 0.28rem !important;
    text-align: center;
    justify-content: center;

    .body__float_button {
      margin-bottom: $float-button-margin-bottom;
    }
  }
}
