@import '../../style/variables.scss';

.menu__container {
  &_light {
    background-color: #efefef !important;
  }

  &_dark {
    background-color: #0c0c0c !important;
    border-right: 1px solid #ffffff1b;
  }
}

.menu {
  font-size: 1.2em !important;

  &__item_dark {
    @include shadow-deep-style-dark;
  }

  &__item_light {
    @include shadow-deep-style-light;
  }

  &__item_active {
    color: $color-primary;
  }

  &__item_font_size {
    font-size: 1.1rem !important;
  }
}

//

.menu_mobile__container {
  position: fixed;
  bottom: 0;
  width: 100%;
  pointer-events: auto;
  z-index: 1000;

  &_dark {
    border-top: 7px solid black;
    background-color: #141414;
  }

  &_light {
    border-top: 7px solid #f5f5f5;
    background-color: #fefefe;
  }

  .menu_mobile__item {
    border-radius: 10px;
    padding: 4px 18px;

    @media (max-width: 380px) {
      padding: 4px 10px;
    }

    &_dark {
      @include shadow-deep-style-dark;
      color: $color-primary;
    }
    &_light {
      color: $color-primary;
      @include shadow-deep-style-light;
    }
  }
}

.nav__link {
  color: #7b23d9 !important;
}
