.menu {
  font-size: 1.2em !important;
}

.menu__container_mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  pointer-events: auto;
  zindex: 1000;
}

.nav__link_active {
  color: #7b00ff !important;
}

.nav__link {
  color: #7b23d999 !important;
}
