@import '../../style/variables.scss';

.page {
  @media (max-width: 700px) {
    padding-bottom: $page-bottom-padding;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;

    @media (max-width: 700px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .title__weather {
    &_location {
      padding-left: 1.1rem !important;
      border-left: 2px solid grey !important;
      margin-left: 1.4rem !important;
      color: $color-primary;
    }
  }
}

.card__icon {
  font-size: 2.2em !important;
  color: $color-primary;
}

.body__float_button {
  margin-bottom: $float-button-margin-bottom;
}
