/* .wrapper {
  text-align: center;
}
.title {
  padding-top: 1em;
  padding-bottom: 0.3em;
}
.image {
  padding-bottom: 0.5em;
}
.date {
  padding-bottom: 1.5em;
}
.parameter {
  padding-bottom: 1.5em;
}
 */
