.card {
  border-radius: 15px !important;
  /* background-color: #efefef !important; */
  min-width: 24em !important;
}

.card__title {
  color: #783fdb !important;
  font-size: 1.2em;
}

.card__icon {
  font-size: 1.2em;
  color: white;
  width: 28px;
  height: 28px;
  transition: 1s;
}
.card__icon:hover {
  transform: scale(1.2);
}

.card__content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.content__temp {
  font-size: 4em;
}

.content__descr {
  font-size: 2em;
  color: #7b23d9 !important;
}

.content__date {
  opacity: 0.6;
}

/* .card:hover {
  background-color: #ebebeb;
} */
