.card {
  border-radius: 15px !important;
  /* background-color: #efefef !important; */
  min-width: 24em !important;

  &__title {
    color: #783fdb !important;
    font-size: 1.2em;
  }

  &__icon {
    font-size: 1.2em;
    color: white;
    width: 28px;
    height: 28px;
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    &_temp {
      font-size: 4em;
    }
    &_descr {
      font-size: 2em;
      color: #7b23d9 !important;
    }
    &_date {
      opacity: 0.6;
    }
  }
}
