.header__container {
  width: 100%;
  background-color: #2b7a78 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.header__select {
  width: 10em;
}

.btn__menu_toggle:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .select {
    width: 4em;
  }
}
