.menu__btn {
  border: none;
  &_pressed {
    &_light {
      box-shadow: inset 3px 3px 3px rgba(52, 1, 106, 0.3);
    }

    &_dark {
      box-shadow: inset 3px 3px 3px rgba(52, 1, 106, 0.5);
    }
  }

  &_unpressed {
    &_light {
      box-shadow: inset 3px 3px 3px rgba(194, 140, 251, 0.5);
    }

    &_dark {
      box-shadow: inset 3px 3px 3px rgba(152, 59, 251, 0.5);
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
