.wrapper {
  width: 100%;
}

.toolbar {
  /* display: flex; */
  /* justify-content: center; */
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.link {
  text-decoration: none;
}
.link_active {
  text-decoration: none;
  font-weight: bold;
}

.select {
  margin-left: 1em;
  width: 9em;
  height: 2em;
  background-color: white;
}

@media (max-width: 600px) {
  .select {
    width: 4em;
  }
}
