.toolbar {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.link {
  text-decoration: none;
}

.select {
  margin-left: 1em;
  width: 10em;
  height: 2em;
  background-color: white;
}
