.header__container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.header__menu_btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .select {
    width: 4em;
  }
}
