.card {
  display: flex;
  flex-direction: column;
  margin-top: -90px;

  &__content {
    margin-bottom: 5px;
    font-size: 1.3em;

    &_tag {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
}
