.switcher__theme {
  &_light {
    box-shadow: 5px 5px 5px #7a23d780;
    padding-top: 1px;
    padding-right: 4px;
  }

  &_dark {
    box-shadow: 5px 5px 5px #7a23d780;
    padding-top: 1px;
    padding-left: 4px;
  }
}
